 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Quotes Web App</title>
 </head>
 <body>
     <h1>Quotes</h1>
     <form action="/search" method="get">
         <input type="text" name="searchStr" id="searchStr">
         <button type="submit">Search</button>
     </form>
    <% quotes.forEach(function(quote) { %>
    <p><%= quote.author %>: <%= quote.quote %></p>
    <% }); %>
    <h2>Create Quote</h2>
    <form action="/quotes" method="post">
        <label for="quote">Quote</label>
        <input type="text" name="quote" id="quote">
        <label for="author">Author</label>
        <input type="text" name="author" id="author">
        <button type="submit">Create</button>
    </form>
 </body>
 </html>